.logo{
    max-width: 250px;
    min-width: 250px;
    padding: 2px;
}

.card{
    box-shadow: 1.5px 1.5px 1.5px lightsteelblue;
    background-color: #FAFAFF;
    margin: 6px;
    border-radius: 12px;
}

.update-card{
    text-align: left;
    white-space: normal;
    font-weight: 900;
    font-family: Verdana, sans-serif;
    font-size: 0.7em;
}

.summary-title{
    text-align: left;
    font-weight: 700;
    font-family: Verdana, sans-serif;
    font-size: 1.2em;
    white-space: normal;
    width: 50%;
    padding: 6px;
}

.summary-number{
    text-align: left;
    font-weight: 700;
    font-family: Verdana, sans-serif;
    font-size: 3em;
    white-space: normal;
}

.summary-card{
    box-shadow: 1.5px 1.5px 1.5px lightsteelblue;
    background-color: #FAFAFF;
    margin: 6px;
    border-radius: 12px;
}

.dropdown{
    margin-top: 6px;
    margin-bottom: 6px;
}

.filter-card{
    background-color: #FAFAFF;
    border-radius: 12px;
    box-shadow: 1.5px 1.5px 1.5px lightsteelblue;
    margin: 6px;
}

.date-slider{
    position: relative;
    top: 50%;
}

.table-title{
    text-align: left;
    font-weight: 700;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    white-space: normal;
    margin-top: 3px;
    margin-bottom: 3px;
}

.table{
   overflow-x: auto;
   padding-left: 12px;
   padding-right: 12px;
}